* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.navbar {
    padding: 10px 0;
    color: #fff;
}



.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .brand {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.brand:visited {
    color: #333;       
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-links a:visited {
    color: #333;
}

.nav-links a:hover {
    color: #fff; /* Cambia el color del texto al pasar el mouse */
    background-color: #555; /* Agrega un color de fondo al pasar el mouse */
}

.btn-nav {
    display: inline-block;
    padding: 10px 20px;
    border: solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-nav a {
    color: #fff; 
    text-decoration: none; 
}

.btn-nav:hover {
    background-color: #555;
}

.btn-nav--logout:hover {
    background-color: white;
}

.btn-nav:hover a {
    color: #fff;
}
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #555;
}

.tabla-proveedores {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabla-proveedores th, .tabla-proveedores td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.tabla-proveedores th {
    background-color: #333;
    color: #fff;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar .container {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .nav-links {
        flex-direction: column;
        width: 100%;
    }
    
    .nav-links li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .container {
        width: 95%;
        padding: 10px;
    }
}

.error-message {
    color: red;
    font-size: 0.875em;
    display: block;
    margin-top: 5px;
}

.btn-accion {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    transition: background-color 0.3s, box-shadow 0.3s;
}

/* Estilo para el botón de inactivar */
.btn-inactivar {
    background-color: #f44336; /* Rojo */
}

.btn-inactivar:hover {
    background-color: #d32f2f; /* Rojo oscuro */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo para el botón de activar */
.btn-activar {
    background-color: #4CAF50; /* Verde */
}

.btn-activar:hover {
    background-color: #388E3C; /* Verde oscuro */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.toast {
    visibility: hidden; /* Ocultar el toast por defecto */
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50; /* Color verde */
    color: #fff;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.toast.show {
    visibility: visible;
    opacity: 1;
}


/* Estilo para el nombre de usuario */
.nav-links .user-info {
    color: #333;
    font-weight: bold;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

/* Icono de usuario (opcional) */
.nav-links .user-info::before {
    content: "\1F464"; /* Código Unicode para un icono de usuario */
    margin-right: 8px;
    font-size: 1.2em;
}

/* Estilo para el botón de cerrar sesión */
.nav-links .btn-logout {
    color: #fff;
    background-color: #f44336; /* Rojo para indicar cierre de sesión */
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.nav-links .btn-logout:hover {
    background-color: #d32f2f; /* Rojo oscuro al pasar el mouse */
}


.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

.footer p {
    margin: 0;
}
